
html{
    box-sizing: border-box;
    font-size: 62.5%;

}
body{
   
}

*,
*:before,
*:after{
    box-sizing: inherit;
}
.center{
    width: 85vh;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
.header{
    height: 100vh;
    /* background: #000; */
}
.header-container{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    display: flex;
    background-image: linear-gradient(45deg, #000, rgb(0, 0, 0)),url(../img/colada1.jpg);
    background-position: 60% 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    padding: 3rem; 
    margin: 0 auto;
}
.header-title{
    color: #fff;
    font-size: 2.8rem;
    font-family: 'Architects Daughter', cursive;
    margin: 0 auto; 
    color: rgb(194, 209, 54);
    text-transform: uppercase;
    
}
@media (min-width: 768px){
    .header-title{
        font-size: 5rem;
    }
}

.header-construction{
    font-family: "Monserrat", Sans-serif;
    font-weight: lighter;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}